disks*
asimbench/*
build/*
binaries*
m5out*
src/python/m5/util/*.pyc
src/python/m5/*.pyc
src/mem/slicc/symbols/*.pyc
src/python/m5/internal/*.pyc
src/mem/slicc/*.pyc
src/mem/slicc/ast/*.pyc
src/arch/*.pyc
configs/common/*.pyc
configs/ruby/*.pyc
ext/ply/ply/*.pyc
src/mem/slicc/generate/*.pyc
log
rundir*
kernel_dvfs

